# Node modules
node_modules/

# Build output
dist/
*.js
*.js.map

# TypeScript
*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# VSCode settings (facultatif)
.vscode/

# Env files (si tu en utilises un jour)
.env
